In [ ]:
import sys
sys.path.insert(0, '../')

In [ ]:
import data_loader

In [ ]:
dl = data_loader.Data_Loader(
    traits=[0,1,2,3,4], embedding_name="tuned_embedding", k_folds=3
)

In [ ]:
dl.data[0].test_index_kfolds

In [15]:
! ls ../outputs/tuned_embedding/coerence_test/3_folds

0_dist                     performances_coerence.xlsx
4_dist

In [17]:
import pandas as pd

In [18]:
df = pd.read_excel("../outputs/tuned_embedding/coerence_test/3_folds/performances_coerence.xlsx")

In [19]:
df

    trait  fold  epochs_train1  best_epoch_train2   best_r2  best_mse
0       0     0             50                261  0.774625  0.213520
1       0     0            150                239  0.781862  0.206663
2       0     0            200                192  0.782878  0.205701
3       0     0            250                260  0.764750  0.222875
4       0     0            300                285  0.768678  0.219154
5       0     0            350                209  0.779605  0.208802
6       0     1             50                266  0.742648  0.261632
7       0     1            150                274  0.750585  0.253563
8       0     1            200                296  0.730073  0.274416
9       0     1            250                291  0.739270  0.265066
10      0     1            300                293  0.716015  0.288708
11      0     1            350                241  0.754910  0.249167
12      0     2             50                262  0.731207  0.278679
13      0     2            150                299  0.738758  0.270851
14      0     2            200                292  0.735539  0.274189
15      0     2            250                242  0.740371  0.269178
16      0     2            300                297  0.748033  0.261234
17      0     2            350                273  0.737277  0.272387

In [27]:
df.groupby(["trait", "fold"]).max("best_r2").reset_index().groupby("trait").mean().reset_index().drop(columns="fold")

   trait  epochs_train1  best_epoch_train2  best_r2  best_mse
0      0          350.0         293.333333  0.76194  0.263421